<!DOCTYPE html>
<html ng-app="TaskManeger">
<head>
    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; connect-src 'self' http://localhost:5001">-->

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    <link href="scripts/lib/angular-material.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>AlgoToDo</title>
</head>
<body layout="row" ng-controller="TaskManegerCtrl as vm" ng-cloak>
    
    <!--<div layout-fill>
        <span ng-include="'scripts/layout/layout.html'"></span>
    </div>
    <span layout="column " ng-include="'scripts/layout/sideNav.html'"></span>-->


    <div layout="column" class="relative" layout-fill role="main" >
        
        <span ng-show="vm.userConnected">
            <md-toolbar ng-show="!vm.showSearch">
                <div class="md-toolbar-tools">
                    <!--<md-button aria-label="Open Settings" ng-click="vm.showListBottomSheet($event)">
                        <ng-md-icon icon="more_vert"></ng-md-icon>
                    </md-button>-->
                    <md-button aria-label="Search" ng-click="vm.showSearch = !vm.showSearch">
                        <ng-md-icon icon="search"></ng-md-icon>
                    </md-button>
                    <span flex></span>
                    <h3>
                        ניהול משימות
                    </h3>
                    <span flex="10"></span>
                    <md-button ng-click="vm.toggleSidenav('left')" aria-label="Menu">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                </div>
                <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
                    <md-tab id="tab1" aria-controls="tab1-content">
                        <ng-md-icon icon="assignment_ind"></ng-md-icon>
                        <br />
                        <!--<div class="circle" ng-if="vm.myTasksCount() > 0">
                            <span class="number">{{vm.myTasksCount()}}</span>
                        </div>-->
                        <md-button ng-if="vm.myTasksCount() > 0" class="md-fab md-mini indication-fab" aria-label="done">
                            {{vm.myTasksCount()}}
                        </md-button>
                        <span style="font-size: 10px">המשימות שלי</span>
                    </md-tab>
                    <md-tab id="tab2" aria-controls="tab2-content">
                        <ng-md-icon icon="assignment"></ng-md-icon>
                        <br /><span style="font-size: 10px">בתהליך</span>
                    </md-tab>
                    <md-tab id="tab3" aria-controls="tab3-content">
                        <ng-md-icon icon="done_all"></ng-md-icon>
                        <br /><span style="font-size: 10px">בוצע</span>
                    </md-tab>
                </md-tabs>
            </md-toolbar>
            <md-toolbar class="md-hue-1" ng-show="vm.showSearch">
                <div class="md-toolbar-tools">
                    <md-button ng-click="vm.showSearch = !vm.showSearch" aria-label="Back">
                        <ng-md-icon icon="arrow_back"></ng-md-icon>
                    </md-button>
                    <h3 flex="10">
                        חזור
                    </h3>
                    <md-input-container dir="rtl" md-theme="input" flex>
                        <label>&nbsp;</label>
                        <input ng-model="vm.search" placeholder="חפש...">
                    </md-input-container>
                    <md-button aria-label="Search" ng-click="vm.showSearch = !vm.showSearch">
                        <ng-md-icon icon="search"></ng-md-icon>
                    </md-button>
                    <md-button aria-label="Open Settings" ng-click="vm.showListBottomSheet($event)">
                        <ng-md-icon icon="more_vert"></ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>
        </span>
        <md-button style="z-index: 21" class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="vm.showAdd($event)" ng-if="vm.userConnected">
            <ng-md-icon icon="add"></ng-md-icon>
        </md-button>
        <md-content flex md-scroll-y ng-show="vm.userConnected">                 
            <ui-view layout="column" layout-fill layout-padding>
                <div class="inset" hide-sm></div>
                <ng-switch on="data.selectedIndex" class="tabpanel-container">
                    <div role="tabpanel"
                         id="tab1-content"
                         aria-labelledby="tab1"
                         ng-switch-when="0"
                         md-swipe-left="next()"
                         md-swipe-right="previous()"
                         layout="row" layout-align="center center">
                        <md-card flex-gt-sm="90" flex-gt-md="80" flex-sm="100">
                            <md-card-content dir="rtl">
                                <md-list>
                                    <md-item ng-repeat="item in vm.onGoingActivityies() |  filter:{ to: vm.user.name, status: 'inProgress' }  | filter:vm.search">
                                        <md-item-content>
                                            <div class="md-tile-left inset">
                                                <md-card-avatar>
                                                    <img class="md-user-avatar user-avatar" ng-src="{{vm.appDomain + vm.user.avatarUrl}}">
                                                </md-card-avatar>
                                            </div>
                                            <div class="md-tile-content">
                                                <div layout="row">
                                                    <span class="from" >{{item.from}}</span> 
                                                    <ng-md-icon class="head-icon" icon="send" style="fill: black" size="10"></ng-md-icon>  
                                                    <span class="time">{{item.createTime | date:'HH:mm'}}</span>
                                                </div>
                                                <!--<p>{{item.name}}</p>-->
                                                <p class="description">
                                                    {{item.description}}
                                                </p>
                                            </div>
                                            <div class="md-tile-left inset">
                                                <md-button class="md-fab md-mini md-icon-button md-hue-2" style="background-color: blue" ng-click="vm.setTaskStatus(item, 'done')" aria-label="done">
                                                    <ng-md-icon icon="done"></ng-md-icon>
                                                </md-button>
                                            </div>
                                        </md-item-content>
                                        <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                                        <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                                    </md-item>
                                    <md-item ng-hide="vm.myTasksCount() > 0">
                                        <md-item-content>
                                            <h3> אין משימות פתוחות כרגע! </h3>
                                        </md-item-content>
                                    </md-item>
                                </md-list>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div role="tabpanel"
                         id="tab2-content"
                         aria-labelledby="tab2"
                         ng-switch-when="1"
                         md-swipe-left="next()"
                         md-swipe-right="previous()"
                         layout="row" layout-align="center center">
                        <md-card flex-gt-sm="90" flex-gt-md="80" flex-sm="100">
                            <md-card-content dir="rtl">
                                <md-list>
                                    <md-item ng-repeat="item in vm.onGoingActivityies() | filter:{ status: 'inProgress', from: vm.user.name } | filter:vm.search">
                                        <md-item-content>
                                            <div class="md-tile-left inset">
                                                <md-card-avatar>
                                                    <img class="md-user-avatar user-avatar" ng-src="{{vm.appDomain + vm.user.avatarUrl}}">
                                                </md-card-avatar>
                                            </div>
                                            <div class="md-tile-content">
                                                <div layout="row"><span class="from">{{item.to}}</span> <ng-md-icon class="head-icon" icon="send" style="fill: black" size="10"></ng-md-icon>  <span class="time">{{item.createTime | date:'HH:mm'}}</span></div>
                                                <!--<p>{{item.name}}</p>-->
                                                <p class="description">
                                                    {{item.description}}
                                                </p>
                                            </div>
                                        </md-item-content>                        
                                        <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                                        <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                                    </md-item>
                                    <md-item ng-hide="(vm.onGoingActivityies() | filter:{ status: 'inProgress', from: vm.user.name }).length > 0">
                                        <md-item-content>
                                            <h3> אין משימות פתוחות כרגע! </h3>
                                        </md-item-content>
                                    </md-item>
                                </md-list>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div role="tabpanel"
                         id="tab3-content"
                         aria-labelledby="tab3"
                         ng-switch-when="2"
                         md-swipe-left="next()"
                         md-swipe-right="previous()"
                         layout="row" layout-align="center center">
                        <md-card flex-gt-sm="90" flex-gt-md="80" flex-sm="100">
                            <md-card-content dir="rtl">
                                <md-list>
                                    <md-item ng-repeat="item in vm.onGoingActivityies() | filter:{ status: 'done', from: vm.user.name } | filter:vm.search | orderBy: 'doneTime':true">
                                        <md-item-content>
                                            <div class="md-tile-content">
                                                <div layout="row"><span class="from">{{item.to}}</span> <ng-md-icon class="head-icon" icon="send" style="fill: black" size="10"></ng-md-icon>  <span class="time">{{item.createTime | date:'HH:mm'}}</span></div>
                                                <!--<p>{{item.name}}</p>-->
                                                <p class="description">
                                                    {{item.description}}
                                                </p>
                                            </div>
                                        </md-item-content>
                                        <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                                        <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                                    </md-item>
                                </md-list>
                            </md-card-content>
                        </md-card>
                    </div>
                </ng-switch>
            </ui-view>
        </md-content>
        
        <md-content flex md-scroll-y ng-if="!vm.userConnected" class="login-content">
            <div layout="row" layout-align="center center">
                <div class="login">
                    <h1>התחברות למערכת</h1>
                    <h3>נא להכניס שם משתמש וסיסמא</h3>
                    <form name="clientLogin" dir="rtl">
                        <md-input-container flex>
                            <label>שם משתמש</label>
                            <input ng-model="vm.user.name " name="userName " type="text" placeholder="שם משתמש " ng-required="false ">
                        </md-input-container>
                        <md-input-container flex>
                            <label>סיסמא</label>
                            <input ng-model="vm.user.password " type="text" placeholder="סיסמא " ng-required="false " name="userPassword ">
                        </md-input-container>

                        <md-button class="md-raised md-primary " ng-click="vm.signIn()">היכנס</md-button>
                    </form>
                </div>
            </div>
        </md-content>
    </div>
    <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="left">
        <md-toolbar class="md-tall md-hue-2">
            <span flex></span>
            <div layout="column" layout-align="end center" class="md-toolbar-tools-bottom inset">
                <md-card-avatar>
                    <img class="md-user-avatar user-avatar" ng-src="{{vm.appDomain + vm.user.avatarUrl}}">
                </md-card-avatar>
                <span></span>
                <div>{{vm.user.name}}</div>
                <div>{{vm.user.title}}</div>
            </div>
        </md-toolbar>
        <md-list>
            <md-item ng-repeat="item in vm.menu">
                <a style="cursor: pointer">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                        </div>
                        <span flex></span>
                        <div class="inset">
                            {{item.title}}
                        </div>
                    </md-item-content>
                </a>
            </md-item>
            <md-divider></md-divider>
            <md-subheader>
                <span flex></span>
                <span>ניהול</span>
            </md-subheader>
            <md-item ng-repeat="item in vm.admin">
                <a style="cursor: pointer">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                        </div>
                        <span flex></span>
                        <div class="inset">
                            {{item.title}}
                        </div>
                    </md-item-content>
                </a>
            </md-item>
            <md-divider></md-divider>
            <md-item>
                <a ng-click="vm.logOff()" style="cursor: pointer">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="logout"></ng-md-icon>
                        </div>
                        <span flex></span>
                        <div class="inset">
                            התנתק
                        </div>
                    </md-item-content>
                </a>
            </md-item>
        </md-list>
    </md-sidenav>

    <script src="scripts/lib/angular.min.js"></script>
    <script src="scripts/lib/angular-animate.min.js"></script>
    <script src="scripts/lib/angular-aria.min.js"></script>
    <script src="scripts/lib/angular-material.min.js"></script>
    <script src="scripts/lib/angular-material-icons.min.js"></script>
    <script src="scripts/lib/ng-lodash.min.js"></script>
    <script src="scripts/lib/ngStorage.min.js"></script>
    <script src="scripts/lib/angular-cookies.js"></script>
    <script src="/angular-load/angular-load.min.js"></script>
    <script src="/a0-angular-storage/dist/angular-storage.min.js"></script>

    <script type="text/javascript" src="scripts/lib/ng-cordova.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="scripts/platformOverrides.js"></script>
    <script type="text/javascript" src="scripts/index.js"></script>

    <script src="https://algotodo.herokuapp.com/socket.io/socket.io.js "></script>
    <!--<script src="http://localhost:5001/socket.io/socket.io.js "></script>-->

    <script src="scripts/TaskManeger/TaskManeger.module.js "></script>
    <script src="scripts/core/core.module.js "></script>
    <script src="scripts/widgets/widgets-module.js "></script>
    <script src="scripts/data/data.module.js "></script>
    <script src="scripts/logger/logger.module.js "></script>
    <script src="scripts/cordova/cordova.module.js"></script>
    <script src="scripts/logger/logger.js "></script>
    <script src="scripts/data/datacontext.js "></script>
    <script src="scripts/data/socket.js "></script>
    <script src="scripts/core/config.js "></script>
    <script src="scripts/widgets/AddTaskDialog.js "></script>
    <script src="scripts/widgets/ListBottomSheet.js "></script>
    <script src="scripts/widgets/userAvater.js "></script>
    <script src="scripts/TaskManeger/TaskManeger.js "></script>
    <script src="scripts/core/filters.js"></script>
    <script src="scripts/cordova/cordovaPlugins.js"></script>
</body>
</html>
