<div ng-controller="groupTaskCtrl as vm" layout="column" class="relative" layout-fill role="main">

    <md-toolbar class="task-toolbar">
        <div class="md-toolbar-tools">
            <!--<md-menu md-position-mode="target-left target">
                <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <ng-md-icon icon="more_vert"></ng-md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button class="no-line-height" ng-disabled="!vm.taskIsFromMe" ng-click="ctrl.redial($event)">
                            <div layout="row" flex>
                                <ng-md-icon class="rotate icon-fill" ng-class="{'icon-fill': vm.taskIsFromMe}" md-menu-align-target icon="forward"></ng-md-icon>
                                <p flex class="text-align-right">העבר משימה</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-disabled="!vm.taskIsFromMe" class="no-line-height">
                            <div layout="row" flex>
                                <ng-md-icon md-menu-align-target icon="settings_backup_restore" class="icon-fill" ng-class="{'icon-fill': vm.taskIsFromMe}"></ng-md-icon>
                                <p flex class="text-align-right">שלח מחדש</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-disabled="!vm.taskIsToMe" class="no-line-height" ng-click="vm.addAlert()">
                            <div layout="row" flex>
                                <ng-md-icon md-menu-align-target icon="add_alert" class="icon-fill" ng-class="{'icon-fill': vm.taskIsToMe}"></ng-md-icon>
                                <p flex class="text-align-right">קבע תזכורת</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="no-line-height" ng-click="ctrl.redial($event)">
                            <div layout="row" flex>
                                <ng-md-icon md-menu-align-target icon="info" class="icon-fill"></ng-md-icon>
                                <p flex class="text-align-right">פרטים</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>-->

            <!--<md-button class="md-icon-button" aria-label="actions">
                <ng-md-icon icon="person_add"></ng-md-icon>
            </md-button>-->
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.goBack()" aria-label="Menu">
                <ng-md-icon icon="arrow_forward"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content flex md-scroll-y class="background-color-transparent">
        <main flex>
            <ui-view layout="column" layout-fill>
                <md-card dir="rtl">
                    <md-card-content>
                        <div layout="row">
                            <md-card-avatar>
                                <img ng-if="(vm.taskIsFromMe && (vm.task.to.avatarUrl.startsWith('content') || vm.task.to.avatarUrl.startsWith('file'))) ||
                                            (!vm.taskIsFromMe && (vm.task.from.avatarUrl.startsWith('content') || vm.task.from.avatarUrl.startsWith('file')))"
                                     alt="user image" ng-src="{{::((vm.taskIsFromMe) ? vm.task.to.avatarUrl : vm.task.from.avatarUrl)}}" class="md-avatar user-avatar-small margin-left-10px" />
                                <img ng-if="(vm.taskIsFromMe && (!vm.task.to.avatarUrl.startsWith('content') && !vm.task.to.avatarUrl.startsWith('file'))) ||
                                            (!vm.taskIsFromMe && (!vm.task.from.avatarUrl.startsWith('content') && !vm.task.from.avatarUrl.startsWith('file')))"
                                     alt="user image" ng-src="{{::vm.imagesPath + ((vm.taskIsFromMe) ? vm.task.to.avatarUrl : vm.task.from.avatarUrl)}}" class="md-avatar user-avatar-small margin-left-10px" />
                            </md-card-avatar>
                            <span class="from">{{:: ((vm.taskIsFromMe) ? 'ל' + vm.task.to.name : 'מ' + vm.task.from.name)}}</span>
                            <span flex></span>
                            נשלחה&ensp;
                            <span class="font-bold" ng-bind-html="::(vm.task.createTime | amCalendar)"></span>
                        </div>
                        <div layout="row" class="margin-top-10px font-18px">
                            {{::vm.task.description}}
                        </div>
                    </md-card-content>                   
                </md-card>

                <md-card dir="rtl">
                    
                    <md-card-title class="group-task-title">
                        <md-card-title-text>
                            <span class="md-title">בתהליך</span>
                        </md-card-title-text>
                        <ng-md-icon icon="assignment" class="icon-fill"></ng-md-icon>
                    </md-card-title>

                    <md-card-content class="padding-top-0">
                        <md-list flex flex-gt-sm="50" flex-md="66" dir="rtl">
                            <md-list-item ng-repeat="task in vm.subsTasks_inProgress()" class="noright task-item margin-top-7px">
                                <md-card-avatar>
                                    <img ng-if="(task.to.avatarUrl.startsWith('content') || task.to.avatarUrl.startsWith('file'))" alt="{{task.to.name}}" ng-src="{{task.to.avatarUrl}}" class="md-avatar user-avatar-med margin-right-0" />
                                    <img ng-if="!task.to.avatarUrl.startsWith('content')  && !task.to.avatarUrl.startsWith('file')" alt="{{task.to.name}}" ng-src="{{vm.imagesPath + task.to.avatarUrl}}" class="md-avatar user-avatar-med  margin-right-0" />
                                </md-card-avatar>
                                <a class="md-tile-content margin-bottom-14px" flex="100" ng-click="vm.navigateToTaskPage(task)">
                                    <div layout="row">
                                        <span class="from">{{task.to.name}}</span>
                                    </div>

                                    <div layout="row">
                                        מ<span am-time-ago="task.createTime"></span>
                                        <!--<span class="font-bold" ng-bind-html="(user.createTime | amCalendar)"></span>-->
                                    </div>
                                </a>
                                <md-divider md-inset ng-if="!$last"></md-divider>
                            </md-list-item>
                            <md-divider ng-if="vm.inProgressTasksLength > 0"></md-divider>
                        </md-list>
                        <div layout="row">
                            {{vm.inProgressTasksLength}} נותרו
                        </div>
                    </md-card-content>

                </md-card>

                <md-card dir="rtl">
                    <md-card-title class="group-task-title">
                        <md-card-title-text>
                            <span class="md-title">בוצע</span>                            
                        </md-card-title-text>
                        <ng-md-icon icon="done_all" class="icon-fill"></ng-md-icon>
                    </md-card-title>
                    
                    <md-card-content class="padding-top-0">
                        <md-list flex flex-gt-sm="50" flex-md="66" dir="rtl">
                            <md-list-item ng-repeat="task in vm.subsTasks_done()" class="margin-top-7px noright task-item">
                                <md-card-avatar>
                                    <img ng-if="(task.to.avatarUrl.startsWith('content') || task.to.avatarUrl.startsWith('file'))" alt="{{task.to.name}}" ng-src="{{task.to.avatarUrl}}" class="md-avatar user-avatar-med  margin-right-0" />
                                    <img ng-if="!task.to.avatarUrl.startsWith('content')  && !task.to.avatarUrl.startsWith('file')" alt="{{task.to.name}}" ng-src="{{vm.imagesPath + task.to.avatarUrl}}" class="md-avatar user-avatar-med  margin-right-0" />
                                </md-card-avatar>
                                <a class="margin-bottom-14px md-tile-content" flex="100" ng-click="vm.navigateToTaskPage(task)">
                                    <div layout="row">
                                        <span class="from">{{task.to.name}}</span>
                                        <span flex></span>
                                        <span class="time">{{vm.getTotalTaskTime(task)}}</span>
                                        <ng-md-icon icon="timer" size="20"></ng-md-icon>
                                    </div>

                                    <div layout="row">
                                        <span am-time-ago="task.doneTime"></span>
                                        <!--<span class="font-bold" ng-bind-html="(user.createTime | amCalendar)"></span>-->
                                    </div>
                                </a>
                                <md-divider md-inset ng-if="!$last"></md-divider>
                            </md-list-item>

                            <md-divider ng-if="vm.doneTasksLength > 0"></md-divider>
                        </md-list>
                    </md-card-content>

                </md-card>
            </ui-view>
        </main>
    </md-content>
</div>