<md-dialog aria-label="Mango (Fruit)" dir="rtl" layout="column" ng-class="{'fullscreen-dialog': vm.isSmallScrean}" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">                          
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <ng-md-icon icon="arrow_forward" aria-label="Close dialog"></ng-md-icon>
            </md-button>           
            <h3 class="color-white">משימה חוזרת</h3>
            <span flex></span>
            <md-menu md-position-mode="target-left target" ng-if="vm.isEditMode">
                    <md-button aria-label="Open phone interactions" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <ng-md-icon icon="more_vert"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button class="no-line-height" ng-click="vm.deleteTask()">
                                <div layout="row" flex>
                                    <ng-md-icon class="icon-fill" md-menu-align-target icon="delete"></ng-md-icon>
                                    <p flex class="text-align-right">מחק משימה</p>
                                </div>
                            </md-button>
                        </md-menu-item>
                     </md-menu-content>
                </md-menu>            
        </div>
    </md-toolbar>
    <md-dialog-content flex md-scroll-y class="md-padding" layout-margin>
        <form name="newTaskForm" novalidate>
            <div layout layout-sm="column">
                <md-contact-chips flex md-input-name="autocompleteField"
                                  md-autofocus="true" ng-required="true"
                                  ng-model="vm.task.to"
                                  md-contacts="vm.querySearch($query)"
                                  md-contact-name="name"
                                  md-contact-image="avatarUrl"
                                  md-require-match="true"
                                  md-highlight-flags="i"
                                  placeholder="נמען"
                                  secondary-placeholder="הוסף נמען">
                </md-contact-chips>          
            </div>
            <div ng-show="vm.showNoRecipientsSelectedError">
                <div class="input-message-validate">נמען הוא שדה <b>חובה</b></div>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex class="md-block">
                    <label>תיאור המשימה</label>
                    <textarea  class="texterea-font-size" name="description" ng-model="vm.task.description" md-maxlength="150" rows="2" max-rows="7" required md-no-asterisk="true"></textarea>
                    <div ng-messages="newTaskForm.description.$error" ng-if="newTaskForm.description.$touched">
                        <div ng-message="required">נא להכניס תיאור למשימה</div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex class="md-block">
                    <label>חוזר בימים</label>
                    <br/>
                    <br/>
                    <section layout="row" layout-align="center center" layout-wrap>
                        <md-button ng-click="vm.addDay(key)" class="md-fab md-mini" style="background-color: rgb(255, 204, 188)" ng-class="{'selected-day': vm.task.daysRepeat.indexOf(key) !== -1}" aria-label="day" ng-repeat="(key, value) in {'0':'א','1':'ב','2':'ג','3':'ד','4':'ה','5':'ו','6':'ש'}">
                            {{value}}
                        </md-button>
                    </section>
                </md-input-container>
            </div>
            <div ng-show="vm.showNoDaysSelectedError">
                <div class="input-message-validate"><b>חובה</b> לבחור יום אחד לפחות</div>
            </div>

            <div layout layout-sm="column">
                <md-input-container flex class="md-block">
                    <label>שעה</label>
                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <input mdc-datetime-picker="" date="false" time="true" type="text" show-todays-date
                               format="HH:mm a" ng-model="vm.time" class="md-input" md-no-asterisk="true"
                               readonly="readonly" lang="he" ok-text='שמור' am-text='בוקר' pm-text='ערב' 
                               cancel-text='ביטול' today-text="" required>
                    </section>
                </md-input-container>
            </div>
            

            <!-- https://github.com/logbon72/angular-material-datetimepicker -->      
        </form>

        

    </md-dialog-content>  
    <md-dialog-actions>
        <md-button flex class="md-raised md-accent" type="submit" ng-click="vm.save()" ng-disabled="newTaskForm.$invalid">
            <span ng-hide="vm.submitInProcess">שמור</span>
            <md-progress-circular md-mode="indeterminate" ng-show="vm.submitInProcess" md-diameter="20px" class="md-accent md-hue-2"></md-progress-circular>
        </md-button>
        <md-button flex class="md-raised md-accent" type="submit" ng-click="vm.cancel()">
            <span>בטל</span>
        </md-button>     
    </md-dialog-actions>
</md-dialog>