<div ng-controller="taskCtrl as vm" layout="column" class="relative" layout-fill role="main">
    
    <md-toolbar ng-show="!vm.showSearch" class="task-toolbar">
        <div class="md-toolbar-tools">
            <md-menu md-position-mode="target-left target">
                <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                    <ng-md-icon icon="more_vert"></ng-md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button class="no-line-height" ng-click="ctrl.redial($event)">
                            <div layout="row" flex>
                                <ng-md-icon class="rotate icon-fill" md-menu-align-target icon="forward"></ng-md-icon>
                                <p flex style="text-align:right">העבר משימה</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-disabled="!vm.taskIsFromMe" class="no-line-height" ng-click="ctrl.redial($event)">
                            <div layout="row" flex>
                                <ng-md-icon md-menu-align-target icon="settings_backup_restore" class="icon-fill"></ng-md-icon>
                                <p flex style="text-align:right">שלח מחדש</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <!--<md-menu-divider></md-menu-divider>-->
                    <md-menu-item>
                        <md-button ng-disabled="!vm.taskIsToMe" class="no-line-height" ng-click="ctrl.redial($event)">
                            <div layout="row" flex>
                                <ng-md-icon md-menu-align-target icon="add_alert" class="icon-fill"></ng-md-icon>
                                <p flex style="text-align:right">קבע תזכורת</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="no-line-height" ng-click="ctrl.redial($event)">
                            <div layout="row" flex>
                                <ng-md-icon md-menu-align-target icon="info" class="icon-fill"></ng-md-icon>
                                <p flex style="text-align:right">פרטים</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            
            <!--<md-button class="md-icon-button" aria-label="actions">
                <ng-md-icon icon="person_add"></ng-md-icon>
            </md-button>-->
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.goBack()" aria-label="Menu">
                <ng-md-icon icon="arrow_forward"></ng-md-icon>
            </md-button>
        </div>
     </md-toolbar>
    
        <md-content flex md-scroll-y style="background-color: transparent">
            <main flex>
                <ui-view layout="column" layout-fill>
                    <md-card dir="rtl">
                        <md-card-content>
                            <div layout="row">
                                <md-card-avatar>
                                    <img alt="user image" ng-src="{{::vm.imagesPath + ((vm.taskIsFromMe) ? vm.task.to.avatarUrl : vm.task.from.avatarUrl)}}" class="md-avatar user-avatar-small" style="margin-left: 10px;" />
                                </md-card-avatar>
                                <span class="from">{{:: ((vm.taskIsFromMe) ? 'ל' + vm.task.to.name : 'מ' + vm.task.from.name)}}</span>
                                <span flex></span>
                                נשלחה&ensp;
                                <span ng-bind-html="::(vm.task.createTime | amCalendar)"></span>
                            </div>
                            <div layout="row" style="font-size: 18px;margin-top: 10px;">
                                {{::vm.task.description}}
                            </div>
                        </md-card-content>
                        <md-divider></md-divider>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-if="vm.taskIsToMe && vm.task.status !== 'done'" class="md-fab md-mini md-icon-button md-secondary" style="background-color: rgba(105, 178, 137, 0.95);" ng-click="vm.setTaskStatus(vm.task, 'done')" aria-label="done">
                                <ng-md-icon icon="done"></ng-md-icon>
                            </md-button>
                            <span flex></span>
                            <md-button ng-disabled="!vm.taskIsToMe" class="md-icon-button" aria-label="alert">
                                <ng-md-icon icon="add_alert" class="icon-fill"></ng-md-icon>
                            </md-button>
                            <md-button ng-disabled="!vm.taskIsFromMe" class="md-icon-button" aria-label="redo">
                                <ng-md-icon icon="settings_backup_restore" class="icon-fill"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="report" ng-click="vm.takePic()">
                                <ng-md-icon icon="add_a_photo" class="icon-fill"></ng-md-icon>
                            </md-button>
                            <!--<input type="file" id="file-upload" />-->
                            <!--<div id="results" style="margin-top: 30px"></div>-->
                            <img id="results" />
                        </md-card-actions>
                    </md-card>
                    <!--<div flex-xs flex-gt-xs="50" layout="column">-->
                    <!--<div layout="row" dir="rtl" layout-align="start center">
                        <md-card style="background-color: transparent">
                            <div layout="row" style="position: relative;">
                                <md-card-avatar class="image-avatar">
                                    <img alt="dina" ng-src="/images/woman-2.svg" class="md-avatar user-avatar-small" style="margin-left: 10px;" />
                                </md-card-avatar>
                                <span flex></span>
                                <span class="image-date" layout-align="end center">היום ב 14:54</span>
                            </div>
                            <div layout="row" class="image-card" >                      
                                <img id="myImage" class="md-card-image" alt="Washed Out" src="file:///storage/emulated/0/Android/data/com.algotodo.app/cache/1480937580399.jpg">
                                <img id="myImage" class="md-card-image" alt="Washed Out" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/PikiWiki_Israel_37154_Nature_and_Colors.JPG/800px-PikiWiki_Israel_37154_Nature_and_Colors.JPG">
                            </div>
                        </md-card>
                    </div>-->
                     <!--</div>-->
                    <!--<md-list flex>-->
                        <md-card dir="rtl"  
                                 class="response-card"
                                 ng-repeat="comment in vm.task.comments | orderBy: createTime:true "><!--style="background-color: transparent"  ng-class="{'response-card': comment.imageUrl === undefined}"-->
                            <md-card-content ><!--ng-if="comment.imageUrl === undefined"-->
                                <!--<span >-->
                                    <div layout="row">
                                        <md-card-avatar>
                                            <img alt="{{::comment.from.name}}" ng-src="{{::vm.imagesPath + comment.from.avatarUrl}}" class="md-avatar user-avatar-small" style="margin-left: 10px;" />
                                        </md-card-avatar>
                                        <span class="from">{{::comment.from.name}}</span>
                                        <span flex></span>
                                        <span ng-bind-html="::(comment.createTime | amCalendar)"></span>
                                    </div>
                                    <div layout="row" style="font-size: 14px" ng-if="comment.text !== ''">
                                        {{::comment.text}}
                                    </div>
                                    <div class="image-wraper" ng-if="comment.fileName !== undefined">                                
                                        <img md-whiteframe="5" id="myImage" class="md-card-image padded" alt="מוריד תמונה"
                                             ng-src="{{::vm.getImageSrc(comment)}}"
                                             ng-click="vm.openGallery()">
                                    </div>
                                <!--</span>-->
                            </md-card-content>
                                <!-- if this is image -->
                            <!--<span >-->
                                <!--<div layout="row" style="position: relative;" ng-if="comment.imageUrl !== undefined">
                                    <md-card-avatar class="image-avatar">
                                        <img alt="{{::comment.from.name}}" ng-src="{{::vm.imagesPath + comment.from.avatarUrl}}" class="md-avatar user-avatar-small" style="margin-left: 10px;" />
                                    </md-card-avatar>
                                    <span flex></span>
                                    <span class="image-date" layout-align="end center" ng-bind-html="::(comment.createTime | amCalendar)"></span>
                                </div>
                                <div layout="row" class="image-card" ng-if="comment.imageUrl !== undefined">
                                    <img id="myImage" class="md-card-image" alt="Washed Out" ng-src="{{vm.getImageSrc(comment.imageUrl, comment)}}" >
                                </div>-->
                            <!--</span>-->                          
                        </md-card>
                    <!--</md-list>-->
                </ui-view>
            </main>
        </md-content>
    
    <ng-image-gallery images="vm.images" methods="vm.methods" conf="vm.conf" inline="false"></ng-image-gallery>
    
    <footer class="add-comment-footer" ng-if="vm.task.status !== 'done'">
        <md-toolbar class="md-scroll-shrink ">
            <div layout="row" layout-align="center center" flex style="padding-bottom: 8px;padding-top: 8px;">
                <md-button class="md-fab md-icon-button md-med" aria-label="done" ng-click="vm.addComment()" ng-disabled="vm.newCommentText === ''">
                    <ng-md-icon class="rotate" icon="send" size="28"></ng-md-icon>
                </md-button>
                <!--<span flex="7"></span>-->
                <md-input-container md-no-float class="md-block comment-input">
                    <textarea id="commentText"
                              dir="rtl" aria-label="comment" 
                              class="texterea-font-size" 
                              placeholder="כתוב תגובה..." 
                              name="comment" ng-model="vm.newCommentText" 
                              maxlength="75" rows="1" max-rows="2" 
                              md-no-asterisk="true"></textarea>
                </md-input-container>
            </div>
        </md-toolbar>
    </footer>

</div>
