<div ng-controller="taskCtrl as vm" layout="column" class="relative" layout-fill role="main">
    
    <md-toolbar ng-show="!vm.showSearch" class="task-toolbar">
        <div class="md-toolbar-tools">
            <md-menu md-position-mode="target-left target">
                <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                    <ng-md-icon icon="more_vert"></ng-md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button class="no-line-height" ng-click="ctrl.redial($event)">
                            <div layout="row" flex>
                                <ng-md-icon class="rotate icon-fill" md-menu-align-target icon="forward"></ng-md-icon>
                                <p flex style="text-align:right">העבר משימה</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-disabled="!vm.taskIsFromMe" class="no-line-height" ng-click="ctrl.redial($event)">
                            <div layout="row" flex>
                                <ng-md-icon md-menu-align-target icon="settings_backup_restore" class="icon-fill"></ng-md-icon>
                                <p flex style="text-align:right">שלח מחדש</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <!--<md-menu-divider></md-menu-divider>-->
                    <md-menu-item>
                        <md-button ng-disabled="!vm.taskIsToMe" class="no-line-height" ng-click="ctrl.redial($event)">
                            <div layout="row" flex>
                                <ng-md-icon md-menu-align-target icon="add_alert" class="icon-fill"></ng-md-icon>
                                <p flex style="text-align:right">קבע תזכורת</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="no-line-height" ng-click="ctrl.redial($event)">
                            <div layout="row" flex>
                                <ng-md-icon md-menu-align-target icon="info" class="icon-fill"></ng-md-icon>
                                <p flex style="text-align:right">פרטים</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            
            <!--<md-button class="md-icon-button" aria-label="actions">
                <ng-md-icon icon="person_add"></ng-md-icon>
            </md-button>-->
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.goBack()" aria-label="Menu">
                <ng-md-icon icon="arrow_forward"></ng-md-icon>
            </md-button>
        </div>
     </md-toolbar>
    
        <md-content flex md-scroll-y style="background-color: transparent">
            <main flex>
            <ui-view layout="column" layout-fill>
                <md-card dir="rtl">
                    <md-card-content>
                        <div layout="row">
                            <md-card-avatar>
                                <img alt="user image" ng-src="{{vm.appDomain + ((vm.taskIsFromMe) ? vm.task.to.avatarUrl : vm.task.from.avatarUrl)}}" class="md-avatar user-avatar-small" style="margin-left: 10px;" />
                            </md-card-avatar>
                            <span class="from">{{ ((vm.taskIsFromMe) ? vm.task.to.name : vm.task.from.name)}}</span>
                            <span flex></span>
                            נשלחה&ensp;
                            <span ng-bind-html="(vm.task.createTime | amCalendar)"></span>
                        </div>
                        <div layout="row" style="font-size: 18px;margin-top: 10px;">
                            {{vm.task.description}}
                        </div>
                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-if="vm.taskIsToMe" class="md-fab md-mini md-icon-button md-secondary" style="background-color: rgba(105, 178, 137, 0.95);" ng-click="vm.setTaskStatus(vm.task, 'done')" aria-label="done">
                            <ng-md-icon icon="done"></ng-md-icon>
                        </md-button>
                        <span flex></span>
                        <md-button ng-disabled="!vm.taskIsToMe" class="md-icon-button" aria-label="alert">
                            <ng-md-icon icon="add_alert" class="icon-fill"></ng-md-icon>
                        </md-button>
                        <md-button ng-disabled="!vm.taskIsFromMe" class="md-icon-button" aria-label="redo">
                            <ng-md-icon icon="settings_backup_restore" class="icon-fill"></ng-md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="report">
                            <ng-md-icon icon="add_a_photo" class="icon-fill"></ng-md-icon>
                        </md-button>
                    </md-card-actions>
                </md-card>

                <md-list flex>
                    <md-card dir="rtl" class="response-card" ng-repeat="comment in vm.task.comments | orderBy: createTime:true">
                        <md-card-content>
                            <div layout="row">
                                <md-card-avatar>
                                    <img alt="{{comment.from.name}}" ng-src="{{vm.appDomain + comment.from.avatarUrl}}" class="md-avatar user-avatar-small" style="margin-left: 10px;" />
                                </md-card-avatar>
                                <span class="from">{{comment.from.name}}</span>
                                <span flex></span>
                                <span ng-bind-html="(comment.createTime | amCalendar)"></span>
                            </div>
                            <div layout="row" style="font-size: 14px">
                                {{comment.text}}
                            </div>
                        </md-card-content>
                    </md-card>
                </md-list>
            </ui-view>
            </main>
        </md-content>
    
    <footer class="add-comment-footer" ng-if="vm.task.status !== 'done'">
        <md-toolbar class="md-scroll-shrink ">
            <div layout="row" layout-align="center center" flex style="padding-bottom: 8px;padding-top: 8px;">
                <md-button class="md-fab md-icon-button md-med" aria-label="done" ng-click="vm.addComment()">
                    <ng-md-icon class="rotate" icon="send" size="28"></ng-md-icon>
                </md-button>
                <!--<span flex="7"></span>-->
                <md-input-container md-no-float class="md-block comment-input">
                    <textarea id="commentText"
                              dir="rtl" aria-label="comment" 
                              class="texterea-font-size" 
                              placeholder="כתוב תגובה..." 
                              name="comment" ng-model="vm.newCommentText" 
                              maxlength="50" rows="1" max-rows="2" 
                              md-no-asterisk="true"></textarea>
                </md-input-container>
            </div>
        </md-toolbar>
    </footer>

</div>
