<div ng-controller="taskCtrl as vm" layout="column" class="relative" layout-fill role="main">
    
    <md-toolbar ng-show="!vm.showSearch" class="task-toolbar">
        <div class="md-toolbar-tools">
            <md-menu md-position-mode="target-left target">
                <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                    <ng-md-icon icon="more_vert"></ng-md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button class="no-line-height" ng-disabled="!vm.taskIsFromMe" ng-click="ctrl.redial($event)">
                            <div layout="row" flex>
                                <ng-md-icon class="rotate" style="fill: rgb(196, 207, 208)" ng-class="{'icon-fill': vm.taskIsFromMe}" md-menu-align-target icon="forward"></ng-md-icon>
                                <p flex style="text-align:right">העבר משימה</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-disabled="!vm.taskIsFromMe" class="no-line-height">
                            <div layout="row" flex>
                                <ng-md-icon md-menu-align-target icon="settings_backup_restore" style="fill: rgb(196, 207, 208)" ng-class="{'icon-fill': vm.taskIsFromMe}"></ng-md-icon>
                                <p flex style="text-align:right">שלח מחדש</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <!--<md-menu-divider></md-menu-divider>-->
                    <md-menu-item>
                        <md-button ng-disabled="!vm.taskIsToMe" class="no-line-height" ng-click="vm.addAlert()">
                            <div layout="row" flex>
                                <ng-md-icon md-menu-align-target icon="add_alert" style="fill: rgb(196, 207, 208)" ng-class="{'icon-fill': vm.taskIsToMe}"></ng-md-icon>
                                <p flex style="text-align:right">קבע תזכורת</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="no-line-height" ng-click="ctrl.redial($event)">
                            <div layout="row" flex>
                                <ng-md-icon md-menu-align-target icon="info" class="icon-fill"></ng-md-icon>
                                <p flex style="text-align:right">פרטים</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            
            <!--<md-button class="md-icon-button" aria-label="actions">
                <ng-md-icon icon="person_add"></ng-md-icon>
            </md-button>-->
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.goBack()" aria-label="Menu">
                <ng-md-icon icon="arrow_forward"></ng-md-icon>
            </md-button>
        </div>
     </md-toolbar>
    
        <md-content flex md-scroll-y style="background-color: transparent">
            <main flex>
                <ui-view layout="column" layout-fill>
                    <md-card dir="rtl">
                        <md-card-content>
                            <div layout="row">
                                <md-card-avatar>
                                    <img alt="user image" ng-src="{{::vm.imagesPath + ((vm.taskIsFromMe) ? vm.task.to.avatarUrl : vm.task.from.avatarUrl)}}" class="md-avatar user-avatar-small" style="margin-left: 10px;" />
                                </md-card-avatar>
                                <span class="from">{{:: ((vm.taskIsFromMe) ? 'ל' + vm.task.to.name : 'מ' + vm.task.from.name)}}</span>
                                <span flex></span>
                                נשלחה&ensp;
                                <span ng-bind-html="::(vm.task.createTime | amCalendar)"></span>
                            </div>
                            <div layout="row" style="font-size: 18px;margin-top: 10px;">
                                {{::vm.task.description}}
                            </div>
                        </md-card-content>
                        <md-divider></md-divider>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-if="vm.taskIsToMe && vm.task.status !== 'done'" class="md-fab md-mini md-icon-button md-secondary" style="background-color: rgba(105, 178, 137, 0.95);" ng-click="vm.setTaskStatus(vm.task, 'done')" aria-label="done">
                                <ng-md-icon icon="done"></ng-md-icon>
                            </md-button>
                            <span flex></span>
                            <md-button ng-disabled="!vm.taskIsToMe" class="md-icon-button" aria-label="alert" ng-click="vm.addAlert()">
                                <ng-md-icon icon="add_alert" class="icon-fill"></ng-md-icon>
                            </md-button>
                            <!--<md-button ng-disabled="!vm.taskIsFromMe" class="md-icon-button" aria-label="redo">
                                <ng-md-icon icon="settings_backup_restore" class="icon-fill"></ng-md-icon>
                            </md-button>-->
                            <md-button class="md-icon-button" aria-label="report" ng-click="vm.takePic('PHOTOLIBRARY')">
                                <ng-md-icon icon="attach_file" class="icon-fill"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="report" ng-click="vm.takePic('camera')">
                                <ng-md-icon icon="add_a_photo" class="icon-fill"></ng-md-icon>
                            </md-button>
                        </md-card-actions>
                    </md-card>
                    <md-card dir="rtl" class="response-card"
                             ng-repeat="comment in vm.task.comments | orderBy: createTime:true ">
                        <md-card-content >
                                <div layout="row">
                                    <md-card-avatar>
                                        <img alt="{{::comment.from.name}}" ng-src="{{::vm.imagesPath + comment.from.avatarUrl}}" class="md-avatar user-avatar-small" style="margin-left: 10px;" />
                                    </md-card-avatar>
                                    <span class="from">{{::comment.from.name}}</span>
                                    <span flex></span>
                                    <span ng-bind-html="::(comment.createTime | amCalendar)"></span>
                                </div>
                                <div layout="row" style="font-size: 14px" ng-if="comment.text !== ''">
                                    {{::comment.text}}
                                </div>
                                <div class="image-wraper" ng-if="comment.fileName !== undefined">                                
                                    <img md-whiteframe="5" id="myImage" class="md-card-image padded" 
                                            alt="מוריד תמונה" ng-src="{{comment.fileLocalPath}}"
                                            ng-click="vm.showGalary(comment)">
                                    <md-progress-circular md-mode="indeterminate" ng-show="comment.fileLocalPath.indexOf('upload-empty') !== -1 && vm.showProgress" md-diameter="40px" class="md-accent md-hue-2"></md-progress-circular>

                                </div>
                        </md-card-content>                        
                    </md-card>
                </ui-view>
            </main>
        </md-content>
      
    <footer class="add-comment-footer" ng-if="vm.task.status !== 'done'">
        <md-toolbar class="md-scroll-shrink" style="background-color: transparent;">
            <div layout="row" layout-align="center center" flex style="padding-bottom: 8px;padding-top: 8px;">
                <md-button class="md-fab md-icon-button md-med" aria-label="done" ng-click="vm.addComment()" ng-disabled="vm.newCommentText === ''">
                    <ng-md-icon class="rotate" icon="send" size="28"></ng-md-icon>
                </md-button>
                <md-input-container md-no-float class="md-block comment-input">
                    <textarea id="commentText"
                              dir="rtl" aria-label="comment" 
                              class="texterea-font-size" 
                              placeholder="כתוב תגובה..." 
                              name="comment" ng-model="vm.newCommentText" 
                              maxlength="75" rows="1" max-rows="2" 
                              md-no-asterisk="true"></textarea>
                </md-input-container>
            </div>
        </md-toolbar>
    </footer>


    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <!--<button class="pswp__button pswp__button--share" title="Share" ng-click="vm.shareImage()"></button>-->

                        <!--<md-button ng-click="vm.shareImage()" class="md-icon-button pswp__button--share2" style="float: right" aria-label="done">
                            <ng-md-icon icon="share" style="fill:white"></ng-md-icon>
                        </md-button>-->

                    <!--<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>-->

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>

</div>
