<md-dialog aria-label="Mango (Fruit)" dir="rtl" layout="column" ng-class="{'fullscreen-dialog': vm.isSmallScrean}" flex="50">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>משימה חדשה</h2>
        </div>
    </md-toolbar>
    <md-dialog-content flex md-scroll-y class="md-padding" layout-margin>
        <form name="userForm">
            <!--<div layout layout-sm="column">
                <md-input-container flex> 
                    <label>שם המשימה</label> 
                    <input ng-model="vm.task.name" md-select-on-focus="true"> 
                </md-input-container>
            </div>-->
            <div layout layout-sm="column">
                <md-input-container flex> 
                    <label>שם העובד</label> 
                    <input ng-model="vm.task.to"> 
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex class="md-block">
                    <label>תיאור המשימה</label>
                    <!--<textarea ng-model="vm.task.descriptio" md-maxlength="150" rows="5"></textarea>-->
                    <input ng-model="vm.task.description">
                </md-input-container>
            </div>
            <!-- https://github.com/logbon72/angular-material-datetimepicker -->
        </form>
    </md-dialog-content>
    <div class="md-actions" layout="row"> <span flex></span>
        <md-button ng-click="vm.cancel()"> ביטול </md-button>
        <md-button ng-click="vm.save()" class="md-primary"> שלח </md-button>
    </div>
</md-dialog>