<md-dialog aria-label="Mango (Fruit)" dir="rtl" layout="column" ng-class="{'fullscreen-dialog': vm.isSmallScrean}">
    <md-toolbar>
        <div class="md-toolbar-tools">                          
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <ng-md-icon icon="arrow_forward" aria-label="Close dialog"></ng-md-icon>
            </md-button>           
            <h3 style="color:white">משימה חדשה</h3>
            <span flex></span>
            <md-button class="md-icon-button" type="submit" ng-click="vm.save()" ng-disabled="newTaskForm.$invalid">
                <ng-md-icon class="rotate" icon="send" aria-label="send"></ng-md-icon> 
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex md-scroll-y class="md-padding" layout-margin>
        <form name="newTaskForm" novalidate>
            <div layout layout-sm="column">
                <md-contact-chips flex md-input-name="autocompleteField"
                                  md-autofocus="true" ng-required="true"
                                  ng-model="vm.selectedRecipients"
                                  md-contacts="vm.querySearch($query)"
                                  md-contact-name="name"
                                  md-contact-image="avatarFullUrl"
                                  md-require-match="true"
                                  md-highlight-flags="i"
                                  placeholder="נמען"
                                  secondary-placeholder="הוסף נמען">
                </md-contact-chips>
                
            </div>
            <div ng-show="vm.showNoRecipientsSelectedError">
                <div class="input-message-validate">נמען הוא שדה <b>חובה</b></div>
            </div>
            <!--<div layout layout-sm="column">
                <md-autocomplete md-autofocus flex required md-require-match
                                 md-input-name="autocompleteField"
                                 placeholder="נמען"
                                 md-min-length="1"
                                 md-no-cache="true"
                                 md-selected-item="vm.selectedItem"
                                 md-search-text="vm.searchText"
                                 md-items="user in vm.querySearch(vm.searchText)"
                                 md-item-text="user.name"
                                 md-floating-label="נמען"
                                 md-no-asterisk="true"
                                 md-menu-class="autocomplete-custom-template">
                    <md-item-template style="text-align: right">   
                        <span class="item-title" dir="rtl">
                            <span class="user-name-template" md-highlight-text="vm.searchText">{{user.name}}</span>
                            <md-card-avatar class="user-avatar-template">
                                <img alt="{{item.name}}" ng-src="{{vm.appDomain + user.avatarUrl}}" class="md-avatar user-avatar-small" style="margin-right: 0;" />
                            </md-card-avatar>
                        </span>                                                                 
                    </md-item-template>
                    <md-not-found>
                        הנמען שחיפשת לא קיים
                    </md-not-found>
                    <div ng-messages="newTaskForm.autocompleteField.$error" ng-if="newTaskForm.autocompleteField.$touched">
                        <div ng-message="required">נמען הוא שדה <b>חובה</b></div>
                        <div ng-message="md-require-match">נא לבחור נמען מתוך הרשימה</div>
                    </div>
                </md-autocomplete>
            </div>-->
            <div layout layout-sm="column">
                <md-input-container flex class="md-block">
                    <label>תיאור המשימה</label>
                    <textarea class="texterea-font-size" name="description" ng-model="vm.task.description" md-maxlength="150" rows="1" max-rows="4" required md-no-asterisk="true"></textarea>
                    <div ng-messages="newTaskForm.description.$error" ng-if="newTaskForm.description.$touched">
                        <div ng-message="required">נא להכניס תיאור למשימה</div>
                    </div>
                </md-input-container>
            </div>
            <!-- https://github.com/logbon72/angular-material-datetimepicker -->      
        </form>
    </md-dialog-content>   
</md-dialog>