<div layout="column" ng-controller="logInCtrl as vm" layout-padding="" dir="rtl" class="login-form" ng-cloak="">
    <div ng-if="!vm.showCube">
        <div layout-align="center center" layout="column">
            <div layout-align="center center">
                <img class="login-img" ng-src="{{::vm.imagesPath + '/images/web_hi_res_512.png'}}" />
            </div>
        </div>
        <div layout-align="center center" class="login-text">
            <h1>ברוכים הבאים ל- ToDo</h1>
        </div>
        <div layout="row" layout-align="center center" class="padding-top-10">
            <form name="signUpForm" layout="column" layout-align="center center" flex flex-gt-sm="50" flex-md="66">
                <md-content class="md-no-momentum" layout-padding>

                    <md-input-container class="md-block">
                        <md-icon ng-md-icon icon="phone"></md-icon>
                        <input md-no-asterisk name="phone" ng-model="vm.userPhone" type="tel"
                               ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/"
                               placeholder="מספר טלפון" ng-required="true"
                               class="login-phone" md-autofocus ng-keypress="vm.submitOnEnter($event)">
                        <div ng-messages="signUpForm.phone.$error">
                            <div ng-message="required">טלפון הוא שדה חובה</div>
                            <div ng-message="pattern">נא להכניס מספר טלפון חוקי</div>
                        </div>
                    </md-input-container>
                    <section layout="row" layout-align="center center" layout-wrap>
                        <md-button class="md-raised md-primary circular-progress-button" ng-click="vm.signMeUp()" ng-disabled="signUpForm.$invalid">
                            <span ng-show="!vm.inProgress">כניסה</span>
                            <md-progress-circular md-mode="indeterminate" ng-show="vm.inProgress" md-diameter="20px" class="md-accent md-hue-2"></md-progress-circular>
                        </md-button>
                    </section>
                </md-content>



                <h3>עוד לא רשום?</h3>
                <section layout="row" layout-align="center center" layout-wrap>
                    <md-button class="md-raised md-primary circular-progress-button" ng-click="vm.goToSignUp()">
                        <span>הירשם עכשיו</span>
                    </md-button>
                </section>
            </form>
        </div>
    </div>

    <div class="background-white" ng-if="vm.showCube" layout="column" layout-align="start center" flex>
        <!-- <div class='Cube panelLoad' id="Cube_loadder">
            <div class='cube-face cube-face-front'>A</div>
            <div class='cube-face cube-face-back'>✔</div>
            <div class='cube-face cube-face-left'>s</div>
            <div class='cube-face cube-face-right'>i</div>
            <div class='cube-face cube-face-bottom'>t</div>
            <div class='cube-face cube-face-top'>✔</div>
        </div> -->
        

        
        <div layout="row" layout-align="center center" flex="40"></div>

        <div id="mo-text" class="center mo-center" layout="row" layout-align="center center">
            ToDo
        </div>

        <div layout="column" layout-align="center center" flex dir="ltr" style="width: 70%">
            <div id="percent" ayout="row">
                {{vm.progress}} %
            </div>
            <div class="bar" layout="row">
                <div id="progress" class="progress" ng-style="{'width': vm.progress + '%'}">
                </div>
            </div>
            <div class="syncing-text" layout="row" layout-align="center center">
                <div> {{vm.currentStep.uiMessage}} </div>
            </div>
        </div>

    </div>
</div>