<md-sidenav ng-if="vm.showSideNav()" layout="column" class="md-sidenav-right md-whiteframe-z2 height-100P" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar class="md-tall md-hue-2 toolBar" dir="rtl">
        <div class="text-align-left" hide-gt-sm>
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.closeSidenav()">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
        <span flex></span>
        <div layout="column" layout-align="end start" class="md-toolbar-tools-bottom inset">
            <md-card-avatar>
                <img class="md-user-avatar user-avatar-big" ng-if="!vm.user.avatarUrl.startsWith('content')  && !vm.user.avatarUrl.startsWith('file')" ng-src="{{vm.imagesPath + vm.user.avatarUrl}}">
                <img class="md-user-avatar user-avatar-big" ng-if="vm.user.avatarUrl.startsWith('content')  || vm.user.avatarUrl.startsWith('file')" ng-src="{{vm.user.avatarUrl}}">
            </md-card-avatar>
            <div class="width-100p">
                <div layout="row">
                    <div class="username">{{vm.user.name}}</div>
                    <span flex></span>
                    <md-menu >
                        <a class="cursor-pointer" ng-click="$mdOpenMenu($event)">
                            <ng-md-icon icon="expand_more"></ng-md-icon>
                        </a>
                        <md-menu-content width="4">
                            <md-menu-item layout="row" layout-align="start center">
                                <md-button ng-click="vm.logOff()">
                                    <ng-md-icon md-menu-origin icon="logout"></ng-md-icon>
                                    <span flex></span>
                                    <span class="float-right">התנתק/י</span>                                  
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
            <!--<div>{{vm.user.cliqot[0].name}}</div>-->
        </div>
    </md-toolbar>
    <md-list layout="column" layout-fill>
        <md-item>
            <a class="cursor-pointer" ng-click="vm.goToContactsListPage()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="contacts"></ng-md-icon>
                    </div>
                    <span flex></span>
                    <div class="inset">
                        אנשי קשר
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-divider></md-divider>
        <md-subheader dir="rtl" ng-if="vm.user.type === 'system-admin'">           
            <span flex></span>
            <span>קליקות</span>
        </md-subheader>
        <md-item ng-if="vm.user.type === 'system-admin'">
            <a class="cursor-pointer" ng-click="vm.showAddCliqaDialog($event)">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <md-icon md-svg-src="{{vm.imagesPath + '/images/cliqa.svg'}}"></md-icon>
                    </div>
                    <span flex></span>
                    <div class="inset">
                        קליקה חדשה
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-item ng-if="vm.user.type === 'system-admin'">
            <a class="cursor-pointer" ng-click="vm.expand_icon = vm.expand_icon === 'add_circle' ? 'remove_circle' : 'add_circle'">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon={{vm.expand_icon}} options='{"rotation": "counterclock", "duration": 375}'></ng-md-icon>
                    </div>
                    <span flex></span>
                    <div class="inset">
                        הקליקות שלי
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-item ng-repeat="cliqa in vm.user.cliqot" ng-if="vm.expand_icon === 'remove_circle' && vm.user.type === 'system-admin'" >
            <a class="cursor-pointer" ng-click="vm.goToCliqaPage(cliqa._id)">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <span flex></span>
                    <div class="inset">
                        {{cliqa.name}}
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-divider></md-divider>
        <md-subheader dir="rtl">
            <span flex></span>
            <span>ניהול</span>
        </md-subheader>
        <md-item>
            <a class="cursor-pointer" ng-click="vm.goToRepeatTasksPage()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="repeat"></ng-md-icon>
                    </div>
                    <span flex></span>
                    <div class="inset">
                        משימות חוזרות
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-item ng-if="vm.user.type === 'system-admin'">
            <md-menu>
                <a class="cursor-pointer" ng-click="$mdOpenMenu($event)">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="system_update"></ng-md-icon>
                        </div>
                        <span flex></span>
                        <div class="inset">
                            שלח התראה על עדכון גירסה
                        </div>
                    </md-item-content>
                </a>
                <md-menu-content width="1">
                    <md-menu-item>
                        <md-button ng-click="vm.sendBroadcastUpdateAlert('Android')" aria-label="android-share">
                            <ng-md-icon md-menu-align-target icon="android" class="android-color"></ng-md-icon>
                            <span class="float-right">
                                למשתמשי אנדרואיד
                            </span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.sendBroadcastUpdateAlert('iOS')" aria-label="apple-share">
                            <ng-md-icon md-menu-align-target icon="apple"></ng-md-icon>
                            <span flex></span>
                            <span class="float-right">
                                למשתמשי אפל
                            </span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-item>
        <md-item ng-if="vm.user.type !== undefined && vm.user.type.indexOf('admin') !== -1">
            <a class="cursor-pointer" ng-click="vm.goToManagementPage()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="dashboard"></ng-md-icon>
                    </div>
                    <span flex></span>
                    <div class="inset">
                        ממשק ניהול
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-divider></md-divider>
        <md-subheader dir="rtl">
            <span flex></span>
            <span>משוב ועזרה</span>
        </md-subheader>
        <md-item>
            <a class="cursor-pointer" ng-click="vm.shareApp()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="share"></ng-md-icon>
                    </div>
                    <span flex></span>
                    <div class="inset">
                        שתף/י את האפליקציה
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-item>
            <a class="cursor-pointer" ng-click="vm.rateApp()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="star"></ng-md-icon>
                    </div>
                    <span flex></span>
                    <div class="inset">
                        דרג/י אותנו
                    </div>
                </md-item-content>
            </a>
        </md-item>

        <span flex></span>
        <md-item>
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <span flex></span>
                <div class="inset">
                    Asiti {{vm.appVersion}}
                </div>
            </md-item-content>
        </md-item>
    </md-list>
</md-sidenav>