<md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-tall md-hue-2" dir="rtl">
        <span flex></span>
        <div layout="column" layout-align="end center" class="md-toolbar-tools-bottom inset">
            <md-card-avatar>
                <img class="md-user-avatar user-avatar-big" ng-src="{{vm.imagesPath + user.avatarUrl}}">
            </md-card-avatar>
            <span></span>
            <div>{{user.name}}</div>
            <div>{{user.title}}</div>
        </div>
    </md-toolbar>
    <md-list layout="column" layout-fill>
        <md-item>
            <a style="cursor: pointer" ng-click="vm.cancelAllNotifications($event)">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="notifications_off"></ng-md-icon>
                    </div>
                    <span flex></span>
                    <div class="inset">
                        מחק התראות
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-divider></md-divider>
        <md-subheader dir="rtl">
            <span flex></span>
            <span>ניהול</span>
        </md-subheader>
        <md-item ng-repeat="item in vm.admin">
            <a style="cursor: pointer">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <span flex></span>
                    <div class="inset">
                        {{item.title}}
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-divider></md-divider>
        <md-item>
            <a ng-click="vm.logOff()" style="cursor: pointer">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="logout"></ng-md-icon>
                    </div>
                    <span flex></span>
                    <div class="inset">
                        התנתק
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <span flex></span>
        <md-item>
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <span flex></span>
                    <div class="inset">
                        {{vm.appVersion}}
                    </div>
                </md-item-content>
        </md-item>
    </md-list>
</md-sidenav>