<md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="left" >
    <md-toolbar class="md-tall md-hue-2 toolBar" dir="rtl">
        <div class="text-align-left" >
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.closeSidenav()">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
        <span flex></span>
        <div layout="column" layout-align="end start" class="md-toolbar-tools-bottom inset">
            <md-card-avatar>
                <img class="md-user-avatar user-avatar-big" ng-src="{{::vm.imagesPath + user.avatarUrl}}">
            </md-card-avatar>
            <div class="username">{{::user.name}}</div>
            <div>{{::user.cliqot[0].name}}</div>
        </div>
    </md-toolbar>
    <md-list layout="column" layout-fill>
        <md-item>
            <md-menu>
                <a class="cursor-pointer" ng-click="$mdOpenMenu($event)">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="share"></ng-md-icon>
                        </div>
                        <span flex></span>
                        <div class="inset">
                            שתף את האפליקציה
                        </div>
                    </md-item-content>
                </a>
                <md-menu-content width="1">
                    <md-menu-item>
                        <md-button ng-click="vm.shareApp('android')" aria-label="android-share">
                            <ng-md-icon md-menu-align-target icon="android" class="android-color"></ng-md-icon>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.shareApp('apple')" aria-label="apple-share">
                            <ng-md-icon md-menu-align-target icon="apple"></ng-md-icon>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>


            
        </md-item>
        <md-item>
            <a class="cursor-pointer" ng-click="vm.rateApp()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="star"></ng-md-icon>
                    </div>
                    <span flex></span>
                    <div class="inset">
                        דרג אותנו
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-divider></md-divider>
        <md-subheader dir="rtl">
            <span flex></span>
            <span>ניהול</span>
        </md-subheader>
        <md-item >
            <a class="cursor-pointer" ng-click="vm.showLogoffButton = true">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="settings"></ng-md-icon>
                    </div>
                    <span flex></span>
                    <div class="inset">
                        הגדרות
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-item>
            <a class="cursor-pointer" ng-click="vm.goToRepeatTasksPage()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="repeat"></ng-md-icon>
                    </div>
                    <span flex></span>
                    <div class="inset">
                        משימות חוזרות
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-item ng-if="vm.user.type === 'admin'">
            <a class="cursor-pointer" ng-click="vm.showAddCliqaDialog()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="group_add"></ng-md-icon>
                    </div>
                    <span flex></span>
                    <div class="inset">
                        הוסף קליקה
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-item ng-if="vm.user.type === 'admin'">
            <a class="cursor-pointer" ng-click="vm.goToManagementPage()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="dashboard"></ng-md-icon>
                    </div>
                    <span flex></span>
                    <div class="inset">
                        ממשק ניהול
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-divider></md-divider>
        <md-item ng-if="vm.showLogoffButton === true">
            <a ng-click="vm.logOff()" class="cursor-pointer">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="logout"></ng-md-icon>
                    </div>
                    <span flex></span>
                    <div class="inset">
                        התנתק
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <span flex></span>
        <md-item>
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <span flex></span>
                    <div class="inset">
                       Asiti {{::vm.appVersion}}
                    </div>
                </md-item-content>
        </md-item>
    </md-list>
</md-sidenav>