* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.md-dialog-container{
    direction: rtl;
}
.input-message-validate{
    padding-right: 0;
    color: rgb(221,44,0);
    line-height: 14px;
    padding-top: 5px;
}
md-virtual-repeat-container{
    direction: rtl;
}
md-chips .md-chip-input-container{
    width: 100%;
}
.top-toast{
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    min-width: 0;
    border-radius: 0;
    bottom: auto;
    padding: 16px 8px 4px 8px;
}
.message-toast{
    background-color: rgb(247, 172, 148) !important;
    color: rgb(3, 87, 95) !important;
    font-weight: bold !important;
    line-height: 30px !important;
}
.no-line-height{
     line-height: 0 !important;
}
.add-comment-footer md-toolbar,
.task-toolbar{
    /*background-color: transparent !important;*/
}
.add-comment-footer .md-errors-spacer {
    min-height: 0;
}
.md-med{
    line-height: 47px!important;
    width: 47px!important;
    height: 47px!important;
}
.add-comment-footer .md-fab {
        background-color: rgb(255,112,67) !important;
}
.icon-fill{
    fill: rgb(0,131,143);
}
.href-class{
        color: blue;
    font-weight: 600;
    text-decoration: underline;
}
.attachment-icon{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 7px;
}
.md-icon-button:disabled .icon-fill{
    fill:rgb(193, 210, 211);
}
.comment-input{
    margin: 4px 0 4px 0;
    width: 80%;
    background-color: rgb(250,250,250);
    border-radius: 0 17px 17px 17px;
    padding: 8px 20px 8px 20px;
}

.image-avatar{
    position: absolute;
    top: 2px;
    right: 2px;
    opacity: 0.8;
}
.image-date{
    padding-left: 5px;
    position: absolute;
    top: 3px;
    left: 0;
}
.response-card{
    background-color: #e8fafc !important;
    border-radius: 25px;
}
.new-responses-badge{
    background-color: rgb(255,138,101);
    color: rgb(250,250,250);
    position: absolute;
    top: 29px;
    left: 54px;
}
.new-responses-badge-inProcess{
    background-color: rgb(255,138,101);
    color: rgb(250,250,250);
}
.image-wraper > img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    position: relative;
}

.image-wraper {
    width: 500px;
    height: 150px;
}

.image-wraper > md-progress-circular {
    position: absolute; 
    top: 55%; 
    left: 70%;  
}

.md-tile-content .from,
md-card-content .from {
    color:  rgb(0,131,143);
    font-size: 14px;
    font-weight: bold;
}
.md-tile-content .time {
    font-size: 14px;
    font-weight: bold;
}
.md-tile-content .head-icon{
    transform: rotate(180deg);
    margin-left: 10px;
    margin-right: 10px;
}
.md-tile-content .description {
    font-size: 14px;
}

.task-item .md-secondary-container{
   margin-right: 8px !important;
}

.fullscreen-dialog {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.texterea-font-size{
    line-height: 18px !important;
    font-size: 14px !important;
    height: 40px !important;
    min-height: 40px !important;
}

/*md-autocomplete > md-autocomplete-wrap > button {
    right: 90% !important;
}*/
.add-icon{
    position: absolute;
    top: 6px;
    left: 16px;
}

.md-autocomplete-suggestions {
    text-align: right;
}

.rotate svg {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

md-badge{
  background-color: rgb(250,250,250);
  color: rgb(0,188,212);
  padding: 1px 6px;
  border-radius: 99%;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -ms-text-size-adjust: none;
	/*background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );*/
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    min-height:100%;
    margin:0;
    padding:0;
    width:100%;
    background: url(../images/wg_blurred_backgrounds_18.jpg) no-repeat center top; 
    /*background-color:rgb(42, 114, 160);*/
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
    background-size:cover
}

html{
   background: url(../images/wg_blurred_backgrounds_18.jpg) no-repeat center top; 
   background-size: cover;
   min-height: 100%;
}
.hight-auto{
   height: auto;
}

.app {
    background: url(../images/mb-bg-fb-07.png) no-repeat center top; 
    position: absolute;             
    left: 50%;
    top: 50%;
    height: 50px;                  
    width: 225px;                   
    text-align: center;
    padding: 180px 0 0 0;     
    margin: -115px 0 0 -112px;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0 75px 170px;
        margin:-90px 0 0 -198px;
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0;
    overflow:visible;
    padding:0;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0 30px;
    padding:2px 0;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


md-content.md-default-theme {
    background-color: #eee;
}

md-card {
    background-color: #fff;
}

md-card h2:first-of-type {
    margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
    border-radius: 99%;
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
}

.md-toolbar-tools-bottom:last-child {
    opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}

md-sidenav {
    fill: #737373;
}

md-sidenav ng-md-icon {
    position: relative;
    top: 5px;
}

.user-avatar {
    border-radius: 99%;
    width: 54px !important;
    height: 54px !important;
        background-color: lightcoral;
}

.user-avatar-med {
    border-radius: 99%;
    width: 36px !important;
    height: 36px !important;
    background-color: lightcoral;
}

.user-avatar-small {
    border-radius: 99%;
    width: 24px !important;
    height: 24px !important;
    background-color: lightcoral;
}

.user-avatar-big {
    border-radius: 99%;
    width: 72px !important;
    height: 72px !important;
        background-color: lightcoral;
}

.main-tabs md-tab-item{
    line-height: 16px;
    padding: 0;
}

md-tabs.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]),
md-tabs.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) > ng-md-icon {
    color: rgb(178,235,242);
    fill: rgb(178,235,242);
}
md-tabs.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) > md-badge {
    background-color: rgb(178,235,242);
}

md-tabs.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active > md-badge {
    background-color: rgb(250,250,250);
}
 md-tabs.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active,
 md-tabs.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active > ng-md-icon {
         color: rgb(250,250,250);
         fill: rgb(250,250,250);
 }

 .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }

 .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }

 .autocomplete-custom-template .item-title,
 .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }

 .autocomplete-custom-template .item-title .user-name-template{
    position: relative;
    right: 30px;
    top: -2px;
 }

  .autocomplete-custom-template .item-title .user-avatar-template{
    position: absolute;
    right: 14px;
 }
/* ----- login form  ------- */
/*
.login-content:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 2px;
    top: 0;
    width: 100%;
    height: 100%;
    // z-index: 1; 
    opacity: 0.6;
    background-image: url(../images/algologo1.png);
    background-repeat: no-repeat;
    background-position: center top;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    // -webkit-background-size: cover; 
    // background-size: cover; 
}*/

.login-form .md-no-momentum {
        opacity: 0.85 !important;
    -webkit-font-smoothing: antialiased;
}

.login-form {
    height: auto;
    min-height: 100%;
        opacity: 0.85 !important;
    -webkit-font-smoothing: antialiased;
}

.login-text {
    text-align: center;
}

.login-text>h1,
.login-text>h3 {
    font-weight: 300;
    font-weight: bold;
}

.login-text>h1 {
    color: rgb(255,112,67);
}

.login-text>h3 {
    color: #dcad4a;
}
/*
.login>form {
    width: 340px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    opacity: 0.9 !important;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0 1px 1px 0, rgba(0, 0, 0, 0.09804) 0 1px 2px 0;
}

.login .inputIconDemo {
    min-height: 48px;
}

.login>md-input-container:not(.md-input-invalid)>md-icon.email {
    color: green;
}

.login>md-input-container.md-icon-float {
    margin-bottom: 10px;
}

.login>md-input-container:not(.md-input-invalid)>md-icon.name {
    color: #4a89dc;
}

.login>md-input-container.md-input-invalid>md-icon.email,
.inputdemoIcons md-input-container.md-input-invalid>md-icon.name {
    color: red;
}

.login>md-input-container ng-messages,
.login>md-input-container [ng-messages] {
    padding-left: 36px;
}

.login .md-button.md-raised:not([disabled]) {
    width: 100%;
    margin-top: 40px;
    background-color: #4a89dc;
    height: 48px;
    color: white;
}

.login .md-button.md-primary.md-raised:not([disabled]):hover,
.login .md-button.md-primary.md-fab:not([disabled]):hover {
    background-color: #357DDC;
}
*/


    .im-pull-to-refresh-progress-bar {
        max-height: 5px;
        opacity: 1;
    }

    .im-pull-to-refresh-progress-bar.ng-hide-add.ng-hide-add-active,
    .im-pull-to-refresh-progress-bar.ng-hide-remove.ng-hide-remove-active {
        -webkit-transition: all linear 0.25s;
        transition: all linear 0.25s;
    }

    .im-pull-to-refresh-progress-bar.ng-hide {
        max-height: 0;
        opacity: 0;
    }

    .circular-progress-button {
    height: 36px;
}

.circular-progress-button>md-progress-circular {
    margin: auto;
    margin-top: 0px; /* If circular does not appear at the center, change this value. */
}

.circular-progress-button>md-progress-circular .md-half-circle {
    border-top-color: white !important;
}

.circular-progress-button>md-progress-circular .md-left>.md-half-circle {
    border-left-color: white;
}

.circular-progress-button>md-progress-circular .md-right>.md-half-circle {
    border-right-color: white;
}

/* loader*/
.Cube {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 50px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s;
  perspective: 9999px;
  color: #333;
  margin: -40px 0 0 -40px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -37px;
  top: 65px;
  opacity: 1;
}
.Cube.panelLoad {
  z-index: 11;
  top: 50%;
  margin-top: -60px;
  -webkit-animation: panel 2.2s infinite forwards;
  animation: panel 2.2s infinite forwards;
}
.Cube.panelLoad .cube-face {
  color: rgb(250,250,250);
  box-shadow: inset 0 0 0 1px rgb(250,250,250), 0 0 1px 1px rgb(250,250,250);
}
.Cube .cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
  background: rgb(0,188,212);
  box-shadow: inset 0 0 0 1px #333, 0 0 1px 1px #333;
  opacity: 1;
}
.Cube .cube-face-front {
  transform: translate3d(0, 0, 40px);
  -webkit-transform: translate3d(0, 0, 40px);
  font-size: 57px;
}
.Cube .cube-face-back {
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 40px);
  transform: rotateY(180deg) translate3d(0, 0, 40px);
}
.Cube .cube-face-left {
  -webkit-transform: rotateY(-90deg) translate3d(0, 0, 40px);
  transform: rotateY(-90deg) translate3d(0, 0, 40px);
}
.Cube .cube-face-right {
  -webkit-transform: rotateY(90deg) translate3d(0, 0, 40px);
  transform: rotateY(90deg) translate3d(0, 0, 40px);
}
.Cube .cube-face-top {
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 40px);
  transform: rotateX(90deg) translate3d(0, 0, 40px);
}
.Cube .cube-face-bottom {
  -webkit-transform: rotateX(-90deg) translate3d(0, 0, 40px);
  transform: rotateX(-90deg) translate3d(0, 0, 40px);
}

@-webkit-keyframes panel {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateY(90deg) rotateZ(0deg);
  }
  40% {
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
  }
  60% {
    -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
  }
  80% {
    -webkit-transform: rotateX(310deg) rotateZ(230deg);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateZ(360deg);
  }
}
@keyframes panel {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateY(90deg) rotateZ(0deg);
    transform: rotateY(90deg) rotateZ(0deg);
  }
  40% {
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
    transform: rotateX(45deg) rotateZ(45deg);
  }
  60% {
    -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
    transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
  }
  80% {
    -webkit-transform: rotateX(310deg) rotateZ(230deg);
    transform: rotateX(310deg) rotateZ(230deg);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateZ(360deg);
    transform: rotateX(360deg) rotateZ(360deg);
  }
}


/* ---- uploading file data loader ------*/

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em;
  /*background-color: #404456*/;
}

#hill {
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  top: 1.7em;
  left: 1.7em;
  background-color: transparent;
  border-left: .25em solid rgb(0,188,212);
  transform: rotate(45deg);
}

#hill:after {
  content: '';
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  left: 0;
  /*background-color: #404456*/;
}

#box {
  position: absolute;
  left: 0;
  bottom: -.1em;
  width: 1em;
  height: 1em;
  background-color: rgb(0,188,212);
  border: .25em solid rgb(0,188,212);
  border-radius: 15%;
  transform: translate(0, -1em) rotate(-45deg);
  animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes push {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }
  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }
  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}