/* vietnamese */
@font-face {
    font-family: 'Bungee';
    font-style: normal;
    font-weight: 400;
    src: local('Bungee'), local('Bungee-Regular'), url(..fonts/SWDSh9ix7dLtnHSP6lQSBX-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Bungee';
    font-style: normal;
    font-weight: 400;
    src: local('Bungee'), local('Bungee-Regular'), url(..fonts/lERTo0a3qKpZDl3SvRxB0H-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Bungee';
    font-style: normal;
    font-weight: 400;
    src: local('Bungee'), local('Bungee-Regular'), url(..fonts/kJ_ur5UPA1FPpr5xGCMYqevvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes dance {
  0% { -webkit-transform: scale(0); transform: scale(0); opacity: 0; }
  4% { -webkit-transform: scale(.9); transform: scale(.9); opacity: 0; }
  6% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
  100% { -webkit-transform: none; transform: none; }
}

@keyframes dance {
  0% { -webkit-transform: scale(0); transform: scale(0); opacity: 0; }
  4% { -webkit-transform: scale(.9); transform: scale(.9); opacity: 0; }
  6% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
  100% { -webkit-transform: none; transform: none; }
}

#mo-text {
  font-size: 6rem;
  font-family: "fantasy";
  background: url('../images/sMTHIRlLgVwXu.gif') no-repeat center;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.bar {
    width: 100%;
    border-bottom: 1px solid #cccccc;
  }
  
  .progress {
    position: relative;
    background: #00BCD4;
    height: 3px;
    transition: 0.2s ease-in-out;
    margin-bottom: -2px;
  }
  
  
  #percent {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-family: 'Sirin Stencil', cursive;
  }


