<div id="management-div" ng-controller="managementCtrl as vm" layout="column" class="relative" layout-fill role="main" dir="rtl"
    ng-cloak>

    <md-toolbar class="md-table-toolbar" md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools padding-16px">
            <md-button class="md-icon-button" ng-click="vm.goBack()" aria-label="back">
                <ng-md-icon icon="arrow_forward"></ng-md-icon>
            </md-button>
            <h2 hide-xs class="margin-right-15px">
                <span class="color-white">ממשק ניהול</span>
            </h2>
            <span flex></span>
            <!--<md-button class="button-unactive margin-0" aria-label="reports"
                       ng-class="{'button-active': vm.activeTab === 'reports'}"
                       ng-click="vm.siwtchTab('reports')">
                דוחות
            </md-button>-->
            <md-button class="button-unactive margin-0" aria-label="users" ng-class="{'button-active': vm.activeTab === 'users'}" ng-click="vm.siwtchTab('users')">
                משתמשים
            </md-button>
            <md-button class="button-unactive margin-0" aria-label="tasks" ng-class="{'button-active': vm.activeTab === 'tasks'}" ng-click="vm.siwtchTab('tasks')">
                משימות
            </md-button>
        </div>
    </md-toolbar>

    <md-content flex class="background-color-transparent">
        <main flex>
            <ui-view layout="column" layout-fill ng-if="vm.activeTab === 'tasks'">

                <md-card layout="column">
                    <md-card-title class="management-filter-card-title" hide-gt-md>
                        <md-card-title-text>
                            <h3>סינון</h3>
                        </md-card-title-text>
                        <md-button class="md-icon-button" ng-click="vm.toggleFilterSection()" aria-label="toggle">
                            <ng-md-icon id="expand_more_icon" icon="{{vm.expand_icon}}" options='{"rotation": "counterclock"}'></ng-md-icon>
                        </md-button>
                    </md-card-title>

                    <div id="filterInputs" layout-gt-xs="row" flex layout-padding ng-show="vm.showTasksFilter">
                        <div layout-gt-xs="column" flex="90" layout="column">
                            <div layout-gt-xs="row" layout="column">

                                <md-input-container class="md-block" flex>
                                    <label>קליקה</label>
                                    <md-select md-no-asterisk ng-model="vm.tasksFilter.cliqaId" name="cliqa" ng-change="vm.cliqaChanged()">
                                        <md-option ng-repeat="(key, value) in vm.allCliqot" value="{{value._id}}" dir="rtl">
                                            {{value.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <!--<md-input-container class="md-block" flex>
                                    <label>משתמש</label>
                                    <md-select md-no-asterisk ng-model="vm.tasksFilter.userId" name="user" ng-disabled="vm.users.length < 1">
                                        <md-option ng-repeat="(key, value) in vm.users" value="{{value._id}}" dir="rtl">
                                            {{value.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>-->

                                 <md-select-multi disabled="vm.users.length < 1" style="max-width: 25%;" flex="25" select-lable="'משתמש'" select-model="vm.tasksFilter.userId" select-values="vm.users"></md-select-multi>


                                <md-input-container class="md-block" flex>
                                    <label>חיפוש</label>
                                    <input ng-model="vm.tasksFilterFreeText" name="name">
                                </md-input-container>


                            </div>

                            <div layout-gt-xs="row" layout="column">
                                    <label>סטטוס</label>
                                <!--<div flex="30" layout-gt-xs="row" layout="column">-->
                                    <md-input-container flex="30" layout="row">
                                        
                                    <!--<div layout="row" layout-gt-xs="column">-->
                                        <div flex><md-checkbox ng-model="vm.tasksFilterStatusInProgress">בתהליך</md-checkbox></div>
                                        <div flex><md-checkbox ng-model="vm.tasksFilterStatusDone">בוצע</md-checkbox></div>
                                        <div flex><md-checkbox ng-model="vm.tasksFilterStatusClosed">נסגר</md-checkbox></div>
                                    <!--</div>-->
                                    </md-input-container>
                                <!--</div>-->

                                <md-input-container flex="20">
                                    <label>מתאריך</label>
                                    <md-datepicker md-open-on-focus ng-model="vm.tasksFilter.fromDate" md-hide-icons="calendar"></md-datepicker>
                                </md-input-container>

                                <md-input-container flex="20">
                                    <label>עד תאריך</label>
                                    <md-datepicker md-open-on-focus ng-model="vm.tasksFilter.toDate" md-hide-icons="calendar"></md-datepicker>
                                </md-input-container>

                                <span flex="30"></span>

                            </div>
                        </div>

                        <div class="md-secondary md-block" flex="10" layout="column" layout-align="center center">
                            <md-button ng-click="vm.getTasks(true)" class="md-warn md-raised md-hue-1">סנן</md-button>
                            <md-button aria-label="download" ng-click="vm.downloadFilterdTable()" class=" md-raised ">
                                <md-icon ng-hide="vm.downloading" style="width:22px;height:22px;" md-svg-src="/images/Exel_download.svg">
                                </md-icon>
                                <md-progress-circular ng-show="vm.downloading" class="md-hue-2 btn-circular" md-diameter="20px"></md-progress-circular>
                            </md-button>
                        </div>
                    </div>

                </md-card>

                <md-card layout-margin>
                    <md-table-container>
                        <table md-table md-progress="vm.promise">
                            <thead md-head md-order="vm.query.order" md-on-reorder="vm.getTasks">
                                <tr md-row>
                                    <th md-column><span>שולח</span></th>
                                    <th md-column>נמען</th>
                                    <th md-column>קליקה</th>
                                    <th md-column><span>נשלחה ב</span></th>
                                    <th md-column>תיאור</th>
                                    <th md-column>סטטוס</th>
                                    <th md-column>זמן ביצוע</th>
                                    <!--<th md-column md-numeric>תגובות</th>-->
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-select="task" md-select-id="name" md-auto-select ng-repeat="task in vm.tasks">
                                    <td md-cell>{{task.from.name}}</td>
                                    <td md-cell>{{task.to.name}}</td>
                                    <td md-cell>{{vm.getCliqaName(task.cliqaId)}}</td>
                                    <td md-cell><span ng-bind-html="(task.createTime | amCalendar)"></span></td>
                                    <td md-cell>
                                        <!--{{task.description.substring(0, 10) + '...'}}-->
                                        {{task.description}}
                                        <!--<md-tooltip dir="rtl">
                                            {{task.description}}
                                        </md-tooltip>-->
                                    </td>
                                    <td md-cell>
                                        <span ng-if="::task.status === 'done'">בוצע</span>
                                        <span ng-if="::task.status === 'closed'">נסגר</span>
                                        <span ng-if="::task.status === 'inProgress'">בתהליך</span>
                                    </td>
                                    <td md-cell>{{vm.getTotalTaskTime(task)}}</td>
                                    <!--<td md-cell>{{task.comments.length}}</td>-->
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <!--</md-card>
                    <md-card>-->
                    <md-table-pagination md-label="{'of': ' מתוך ', 'page': 'עמוד מספר', 'rowsPerPage': 'מספר שורות בעמוד' }" md-limit="vm.query.limit"
                        md-limit-options="[5, 10, 15, 20]" md-page="vm.query.page" md-total="{{vm.totalTaskCount}}" md-on-paginate="vm.getTasks"
                        md-page-select></md-table-pagination>
                </md-card>

            </ui-view>

            <ui-view layout="column" layout-fill ng-if="vm.activeTab === 'users'">

                <md-card layout="column">

                    <md-card-title class="management-filter-card-title" hide-gt-md>
                        <md-card-title-text>
                            <h3>סינון</h3>
                        </md-card-title-text>
                        <md-button class="md-icon-button" ng-click="vm.toggleFilterSection()" aria-label="toggle">
                            <ng-md-icon id="expand_more_icon" icon="{{vm.expand_icon}}" options='{"rotation": "counterclock"}'></ng-md-icon>
                        </md-button>
                    </md-card-title>

                    <div layout-gt-xs="column" layout-padding flex ng-show="vm.showTasksFilter">
                        <div layout-gt-xs="row" layout="column">

                            <md-input-container class="md-block" flex>
                                <label>קליקה</label>
                                <md-select md-no-asterisk ng-model="vm.usersFilter.cliqa" name="cliqa">
                                    <md-option ng-repeat="(key, value) in vm.allCliqot" value="{{value._id}}" dir="rtl">
                                        {{value.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>מערכת הפעלה</label>
                                <md-select md-no-asterisk ng-model="vm.usersFilterPlatform" name="status">
                                    <md-option ng-repeat="(key, value) in { 'הכל' : '', 'אנדואיד' : 'Android', 'אפל' : 'iOS'}" value="{{value}}" dir="rtl">
                                        <ng-md-icon ng-if="value === 'Android'" icon="android" class="android-color"></ng-md-icon>
                                        <ng-md-icon ng-if="value === 'iOS'" icon="apple"></ng-md-icon>
                                        <span ng-if="key === 'הכל'">הכל</span>
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>גירסה מותקנת</label>
                                <md-select md-no-asterisk ng-model="vm.usersFilter.versionInstalled" name="status">
                                    <md-option ng-repeat="version in vm.allVersionInstalled" value="{{version}}" dir="rtl">
                                        {{version}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>שם</label>
                                <input ng-model="vm.usersFilterName" name="name">
                            </md-input-container>

                            <div class="md-secondary md-block" flex layout="row" layout-align="end center">
                                <md-button ng-click="vm.getUsers()" class="md-warn md-raised md-hue-1">סנן</md-button>
                            </div>

                        </div>
                    </div>
                </md-card>

                <md-card layout-margin>
                    <md-table-container>
                        <table md-table md-progress="vm.promise">
                            <thead md-head md-order="vm.query.order" md-on-reorder="vm.getUsers">
                                <tr md-row>
                                    <th md-column><span>שם</span></th>
                                    <th md-column>טלפון</th>
                                    <th md-column>מערכת הפעלה</th>
                                    <th md-column><span>מכשיר</span></th>
                                    <th md-column>קליקות</th>
                                    <th md-column>גירסה מותקנת</th>
                                    <th md-column>קוד רישום</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-select="task" md-select-id="name" md-auto-select ng-repeat="user in vm.users">
                                    <td md-cell>{{user.name}}</td>
                                    <td md-cell>{{vm.getLocalPhoneFormat(user.phone)}}</td>
                                    <td md-cell>
                                        <ng-md-icon ng-if="user.device.platform === 'Android'" icon="android" class="android-color"></ng-md-icon>
                                        <ng-md-icon ng-if="user.device.platform === 'iOS'" icon="apple"></ng-md-icon>
                                    </td>
                                    <td md-cell>{{user.device.manufacturer + ' ' + user.device.model}}</td>
                                    <td ng-if="vm.getCliqotNamesAsString(user.cliqot).length > 10" md-cell tooltips tooltip-template="{{vm.getCliqotNamesAsString(user.cliqot)}}">
                                        {{vm.getCliqotNamesAsString(user.cliqot).substring(0, 10) + '...'}}
                                        <!--<md-tooltip dir="rtl">
                                            {{vm.getCliqotNamesAsString(user.cliqot)}}
                                        </md-tooltip>-->
                                    </td>
                                    <td ng-if="vm.getCliqotNamesAsString(user.cliqot).length <= 10" md-cell>
                                        {{vm.getCliqotNamesAsString(user.cliqot)}}
                                    </td>
                                    <td md-cell>{{user.versionInstalled}}</td>
                                    <td md-cell>{{user.verificationCode}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <md-table-pagination md-label="{'of': ' מתוך ', 'page': 'עמוד מספר', 'rowsPerPage': 'מספר שורות בעמוד' }" md-limit="vm.query.limit"
                        md-limit-options="[5, 10, 15, 20]" md-page="vm.query.page" md-total="{{vm.totalUsersCount}}" md-on-paginate="vm.getUsers"
                        md-page-select></md-table-pagination>
                </md-card>

            </ui-view>

            <!--<ui-view layout="column" layout-fill ng-if="vm.activeTab === 'reports'">

                <md-card layout-gt-xs="row" layout="column">

                    <div layout-gt-xs="column" flex-sm flex-gt-xs="80" layout-padding class="margin-top-10px">
                        <div layout-gt-xs="row" layout="column">

                            <md-input-container layout-fill layout-margin>
                                <label>קליקה</label>
                                <md-select md-no-asterisk ng-model="vm.tasksFilter.cliqaId" name="cliqa">
                                    <md-option ng-repeat="(key, value) in vm.allCliqot" value="{{value._id}}" dir="rtl">
                                        {{value.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container layout-fill layout-margin>
                                <label>סטטוס</label>
                                <md-select md-no-asterisk ng-model="vm.tasksFilter.status" name="status">
                                    <md-option ng-repeat="(key, value) in { 'הכל' : '', 'בתהליך' : 'inProgress', 'בוצע' : 'done'}" value="{{value}}" dir="rtl">
                                        {{key}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>

                    <div class="md-secondary" layout-gt-xsm="column" flex-xs flex-gt-xs="20" layout-align="center center">
                        <md-button ng-click="vm.getTasks()" class="md-warn md-raised md-hue-1">סנן</md-button>
                    </div>

                </md-card>

                <md-card layout-margin>
                    <md-table-container>
                        <table md-table md-row-select multiple ng-model="selected" md-progress="vm.promise">
                            <thead md-head md-order="vm.query.order" md-on-reorder="vm.getTasks">
                                <tr md-row>
                                    <th md-column><span>שולח</span></th>
                                    <th md-column>נמען</th>
                                    <th md-column>קליקה</th>
                                    <th md-column><span>נשלחה ב</span></th>
                                    <th md-column>תיאור</th>
                                    <th md-column>סטטוס</th>
                                    <th md-column>זמן ביצוע</th>
                                    <th md-column md-numeric>תגובות</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-select="task" md-select-id="name" md-auto-select ng-repeat="task in vm.tasks">
                                    <td md-cell>{{task.from.name}}</td>
                                    <td md-cell>{{task.to.name}}</td>
                                    <td md-cell>{{vm.getCliqaName(task.cliqaId)}}</td>
                                    <td md-cell><span ng-bind-html="(task.createTime | amCalendar)"></span></td>
                                    <td md-cell>
                                        {{task.description.substring(0, 10) + '...'}}
                                        <md-tooltip>
                                            {{task.description}}
                                        </md-tooltip>
                                    </td>
                                    <td md-cell>
                                        {{task.status === 'done' ? 'בוצע' : 'בתהליך'                                        }}
                                    </td>
                                    <td md-cell>{{vm.getTotalTaskTime(task)}}</td>
                                    <td md-cell>{{task.comments.length}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <md-table-pagination md-label="{'of': ' מתוך ', 'page': 'עמוד מספר', 'rowsPerPage': 'מספר שורות בעמוד' }" md-limit="vm.query.limit" md-limit-options="[5, 10, 15, 20]" md-page="vm.query.page" md-total="{{vm.totalTaskCount}}" md-on-paginate="vm.getTasks" md-page-select></md-table-pagination>
                </md-card>

            </ui-view>-->
        </main>
    </md-content>
</div>